<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title>Irlanda</title>
    <link href="vendor/jquery.com/jquery.mobile/1.3.2/theme.min.css"  type="text/css" rel="stylesheet"/>
    <link href="resource/stylesheet/main.css" type="text/css" rel="stylesheet"/>
  </head>
  <body class="ui-mobile-viewport ui-overlay-a">


  <!-- <div class="modal" data-rel="popup" data-role="popup">
    <a href="javascript: history.back(-1);" class="back-arrow"></a>
    <span class="character"></span>
    <div class="header">{{header}}</div>
    <div class="content">{{content}}</div>
  </div> -->

  <section id="index" class="page" data-role="page" data-url=""> </section>

<!--
  <section id="map" class="page" data-role="page" data-url="map">
    <img src="resource/images/scrum{{score}}.png" />


    <div class="locations">
      <a href="#belfast" class="belfast"><span class="icon enable"></span></a>
      <a href="#cork" class="cork"><span class="icon"></span></a>
      <a href="#dublin" class="dublin"><span class="icon"></span></a>
      <a href="#killarney" class="killarney"><span class="icon"></span></a>
      <a href="#portrush" class="portrush"><span class="icon"></span></a>
    </div>

  </section>

  <section id="belfast" class="page city belfast" data-role="page" data-url="belfast" data-score="1"></section>
  <section id="cork" class="page city cork" data-role="page" data-url="cork" data-score="2"></section>
  <section id="dublin" class="page city dublin" data-role="page" data-url="dublin" data-score="3"></section>
  <section id="glows" class="page city glows" data-role="page" data-url="glows" data-score="4"></section>
  <section id="killarney" class="page city killarney" data-role="page" data-url="killarney" data-score="5"></section>
  <section id="portrush" class="page city portrush" data-role="page" data-url="portrush" data-score="6"></section> -->

  <!-- Depedences -->
  <script src="vendor/jquery.com/jquery/1.9.1/jquery.min.js"></script>
  <script src="vendor/jquery.com/jquery.mobile/1.3.2/jquery.mobile.min.js"></script>
  <script src="vendor/handlebarsjs.com/handlebars/4.0.5/handlebars.min.js"></script>
  <!-- App -->
  <script src="resource/javascript/app.js"></script>

  </body>
</html>
