.page {display: none;}
.page.active {display: block;}

/* MAPS */
.icon{cursor: default; display:block; position:absolute; z-index:90;opacity:1;}
.icon.enable{cursor: pointer;}
.icon.enable:hover, .icon.enable:focus, .icon.enable:active{opacity:.9;}

.belfast > .icon {
  width:88px;
  height:197px;
  background: url('../images/city/icons/disable/belfast.png') top left;
}

.belfast > .icon.enable {
  background: url('../images/city/icons/enable/belfast.png') top left;
}

.cork > .icon {
  width:124px;
  height:116px;
  background: url('../images/city/icons/disable/cork.png') top left;
}

.cork > .icon.enable {
  background: url('../images/city/icons/enable/cork.png') top left;
}

.dublin > .icon {
  width:104px;
  height:132px;
  background: url('../images/city/icons/disable/dublin.png') top left;
}

.dublin > .icon.enable {
  background: url('../images/city/icons/enable/dublin.png') top left;
}

.killarney > .icon {
  width:120px;
  height:147px;
  background: url('../images/city/icons/disable/killarney.png') top left;
}

.killarney > .icon.enable {
  background: url('../images/city/icons/enable/killarney.png') top left;
}

.portrush > .icon {
  width:141px;
  height:98px;
  background: url('../images/city/icons/disable/portrush.png') top left;
}

.portrush > .icon.enable {
  background: url('../images/city/icons/enable/portrush.png') top left;
}
